{% extends 'base.html.twig' %}

{% block body %}
    <h1> Bienvenido a la página de LaLiga </h1>
    <ul>
        <li><a href="http://localhost:8000/teams">Teams</a></li>
        <li><a href="http://localhost:8000/players">Players</a></li>
        <li><a href="http://localhost:8000/coaches">Coaches</a></li>
    </ul>
{% endblock %}