{% extends 'base.html.twig' %}

{% block body %}
    <h1> Bienvenido a la página de LaLiga </h1>
    <ul>
        <li><a href="http://localhost:8000/teams">Equipos</a></li>
        <li><a href="http://localhost:8000/players">Jugadores</a></li>
        <li><a href="http://localhost:8000/coaches">Entrenadores</a></li>
    </ul>
{% endblock %}