{% extends 'base.html.twig' %}

{% block body %}
    <h1> Bienvenido a la página de LaLiga </h1>
    <ul>
        <li><a href="/teams"><button type="button">Equipos</button></a></li> <br>
        <li><a href="/players"><button type="button">Jugadores</button> </a></li> <br>
        <li><a href="/coaches"><button type="button"> Entrenadores </button> </a></li> <br>
    </ul>
{% endblock %}