{% extends 'base.html.twig' %}
{% block body %}

    <h1>Equipos</h1>
    <h2> Nuevo equipo correctamente creado </h2>
    <b><p> Nombre: </p></b>
    <p>{{ team.nombre }}</p> <br>
    <b><p> Presupuesto actual: </p></b>
    <p>{{ team.presupuestoActual }}</p>

{% endblock %}