{% extends 'base.html.twig' %}
{% block body %}

    <h2> Enhorabuena, has eliminado un equipo existente </h2>
    <h4>El equipo <b>{{ team.nombre }}</b> ya no pertenece a La Liga.</h4>

    <a href="/teams"><h3>Volver a la página de inicio</h3></a>

{% endblock %}