{% extends 'base.html.twig' %}

{% block body %}
    <h1> Equipos </h1><br>
    <h2>Ver equipos </h2>
    <p>Además, podrás actualizar y eliminar los equipos.</p>
    <a href="/teams/list"><button type="button">Buscar</button> </a> <br><br>


    <h2>Busca tu equipo</h2>
    <form method="post" action="{{ path('team_redirect') }}">
        <label for="team_id">ID de tu equipo:</label>
        <input type="number" id="team_id" name="team_id" min="1" required>
        <button type="submit">Buscar</button>
    </form><br><br>


    <h2> Crea tu equipo </h2>
    <a href="/teams/create"><button type="submit">Crear</button> </a>

    <a href="/"><h3>Inicio</h3></a>

{% endblock %}