{% extends 'base.html.twig' %}
{% block body %}
    <h1>Equipo seleccionado</h1>
    <table style="border: 2px solid black">
        <thead>
        <tr>
            <th style="border: 2px solid black">ID del club</th>
            <th style="border: 2px solid black">Nombre</th>
            <th style="border: 2px solid black">Presupuesto actual</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 2px solid black">{{ team.id }}</td>
                <td style="border: 2px solid black">{{ team.nombre }}</td>
                <td style="border: 2px solid black">{{ team.presupuestoActual }}</td>
            </tr>
        </tbody>
    </table><br><br>
    <h2>Actualiza el equipo seleccionado</h2>
    <form id="update-team-form" action="{{ path('team_update', {'id' : team.id}) }}" method="post" >
        <input type="hidden" name="_method" value="PUT">
        <label for="update-team-nombre">Nuevo nombre: </label>
        <input type="text" id="update-team-nombre" name="update-team-nombre" maxlength="100"><br><br>
        <label for="update-team-presupuesto">Nuevo presupuesto:</label>
        <input type="number" id="update-team-presupuesto" name="update-team-presupuesto" min="0"><br><br>
        <button type="reset">Borrar</button>
        <button type="submit">Actualizar equipo</button>
    </form><br><br>
    <a href="/teams"><h3>Volver a la página de inicio</h3></a>
{% endblock %}