{% extends 'base.html.twig' %}
{% block body %}
    <h1>Equipo seleccionado</h1>
    <table style="border: 2px solid black">
        <thead>
        <tr>
            <th style="border: 2px solid black">ID del club</th>
            <th style="border: 2px solid black">Nombre</th>
            <th style="border: 2px solid black">Presupuesto actual</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 2px solid black">{{ equipo.id }}</td>
                <td style="border: 2px solid black">{{ equipo.nombre }}</td>
                <td style="border: 2px solid black">{{ equipo.presupuestoActual }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}