{% extends 'base.html.twig' %}
{% block body %}
    <h1> Equipos </h1>
    <h2> Enhorabuena, has actualizado un equipo</h2>
    <b><p>Nuevo nombre: </p></b>
    <p>{{ team.nombre }}</p>
    <b><p>Nuevo presupuesto: </p></b>
    <p>{{ team.presupuestoActual }}</p><br>
    <a href="/teams"><h3>Volver a la página de inicio</h3></a>
{% endblock %}