{% extends 'base.html.twig' %}
{% block body %}

<h1>Jugadores</h1>
<h2>Enhorabuena, has eliminado a un jugador</h2>
<h4>El jugador {{ player.name }} ya no pertenece a La Liga.</h4>

<a href="/players">Volver al inicio</a>

{% endblock %}