{% extends 'base.html.twig' %}
{% block body %}

<h1>Jugadores</h1><br>
<h2>Enhorabuena, has dado de baja a {{ player.name }} de su equipo actual.</h2><br>

<a href="/players"><h3>Volver a la pantalla de inicio.</h3></a>

{% endblock %}