{% extends 'base.html.twig' %}
{% block body %}

<h1>Jugadores</h1>
<h2>Enhorabuena, has actualizado la información de {{ player.name }}</h2>

<b><p>Nuevo nombre: </p></b>
<p>{{ player.name }}</p>
<b><p>Nuevo salario: </p></b>
<p>{{ player.salario }}</p>
<b><p>Nuevo email:</p></b>
<p>{{ player.email }}</p>

<br><br>

<a href="/players">Volver al inicio</a>

{% endblock %}