<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LaLiga{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/laliga.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body style="background-color: dimgray">
        {% block body %}{% endblock %}
    </body>
</html>
