{% extends 'base.html.twig' %}
{% block body %}

<h1> Entrenadores </h1>
<h2> Enhorabuena, has dado de alta a un entrenador en un equipo.</h2>
<h4> El entrenador {{ coach.nombre }} es ahora el entrenador del club con id.</h4>

{% endblock %}