{% extends 'base.html.twig' %}
{% block body %}

    <h1> Entrenadores </h1>
    <h2> Enhorabuena, has dado de alta a un entrenador en un equipo.</h2>
    {% if coach.team %}
        <p>{{ coach.nombre }} ha fichado por el {{ coach.team.nombre }}</p>
    {% endif %}
    <a href="/coaches"><h3>Volver al inicio</h3></a>

{% endblock %}