{% extends 'base.html.twig' %}

{% block body %}
    <h1> Entrenadores </h1><br>
    <h2>Ver entrenadores </h2>
    <p>Además, podrás actualizar y eliminar entrenadores.</p>
    <a href="/coaches/list"><button type="button">Buscar</button> </a> <br><br>


    <h2>Busca un entrenador</h2>
    <form method="post" action="{{ path('coach_redirect') }}">
        <label for="coachID">ID de un entrenador:</label>
        <input type="number" id="coachID" name="coachID" min="1" required>
        <button type="submit">Buscar</button>
    </form><br><br>


    <h2> Crea un entrenador </h2>
    <form id="create-coach-form" action="{{ path('coach_create') }}" method="post">
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" maxlength="45" required> <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required> <br> <br>
        <label for="salario">Salario: </label>
        <input type="number" id="salario" name="salario" min="0" required><br><br>
        <label for="club_id">ID del club (Opcional):</label>
        <input type="number" id="club_id" name="club_id" min="1"> <br> <br>
        <button type="reset">Borrar</button>
        <button type="submit">Crear entrenador</button>
    </form><br><br>

    <a href="/"><h3>Inicio</h3></a
{% endblock %}