{% extends 'base.html.twig' %}
{% block body %}

    <h1> Entrenadores </h1>
    <h2> Enhorabuena, has dado de baja a un entrenador de un equipo.</h2>
    <h4> El entrenador {{ coach.nombre }} ya no es entrenador de ningún club.</h4>

    <a href="/coaches"><h3>Volver a la pantalla de inicio.</h3></a>

{% endblock %}